.fc-toolbar.fc-header-toolbar {
  background: #508D4E; 
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc .fc-toolbar-title {
  color: white;
}

.fc .fc-button {
  background-color: transparent !important; 
  color: white; 
  background: none; 
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.fc .fc-button:hover {
  color: darkgreen !important; 
}

.fc .fc-button.fc-button-active {
  background: none !important;
  border: none !important;
  box-shadow: none !important; 
}

.fc-event, .fc-event-dot {
  background-color: green; 
  border-color: green; 
}

.fc-event-time, .fc-event-title {
  color: white; 
}


.fc td, .fc th {
  border-color: #d1d1d1 !important; 
}

.fc .fc-timegrid-axis-cushion {
  color: black !important; 
}

.fc .fc-daygrid-day-number, .fc .fc-timegrid-slot-label {
  color: black !important; 
}

.fc-theme-standard .fc-scrollgrid {
  border: none; 
}


.fc-col-header-cell-cushion {
  color: green !important; 
}