/* Footer */
.footer {
  text-align: center;
  background: #ffffff; /* Footer arka plan rengini beyaz yapın */
  padding: 10px 20px; /* Padding değerlerini azaltın */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 18px; /* Köşeleri yumuşatmak için */
  margin: 10px; /* Dış kenarlardan biraz boşluk bırakın */
  width: calc(100% - 20px); /* Sol ve sağdaki marjinleri hesaba katmak için genişliği azaltın */
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  color: #000000; /* Footer metin rengini siyah yapın */
  font-size: 14px;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  color: #FD9B63;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #81A263;
}
