body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ant Design bileşenlerine fontu uygulamak için ek kurallar */
.ant-typography,
.calendar-schedule-container
.calendar-section,
.ant-menu,
.ant-btn,
.ant-input,
.ant-select,
.ant-table,
.schedule-layout,
.ant-modal {
  font-family: 'Poppins', sans-serif;
}
